name: Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      tags:
        description: 'build'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install modules
        run: npm i

      - name: Run test codes
        run: npm run test

      - name: Set up environment variables
        run: |
          ENV_FILE=".env.production"
          echo "REACT_APP_KAKAO_MAP_API_KEY=${{ secrets.KAKAO_MAP_API_KEY }}" > $ENV_FILE

      - name: Build project
        run: npm run build --if-present

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./build
